body {
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #8f48d1, #4f2580, #6d46ad, #a57dd3);
  margin-top: 50px;
    
    /* Smoothly transition the background color */
    transition: background-color .5s;
  }
    
  /* Using flex with the column direction to
     align items in a vertical direction */
  .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: azure;
  }
   .songdetail-lyric{
     display: flex;
   } 
   .song-detail{

     justify-content: space-between;
     width: 50%;
   }
   .lyric{
    width: 50%;
    border-color: azure;
  }
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  

    
  /* Changing the font sizes to suitable ones */
  .now-playing {
    font-size: 30px;
    padding-bottom: 30px;
    font-weight:bold ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
    
  .track-name {
    font-size: 2rem;
  }
  
    
  .track-artist {
    font-size: 1rem;
  }
 

  
    
  /* Using flex with the row direction to
     align items in a horizontal direction */
     .control {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 18px 0 8px 0;
    }
    
    .control .btn {
      color: rgb(255, 255, 255);
      padding: 18px;
      font-size: 18px;
    }
    
    .control .btn.active {
      color: var(--primary-color);
    }
    
    .control .btn-toggle-play {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      font-size: 24px;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primary-color);
    }
    
  .btn {
    padding: 25px;
    opacity: 0.8;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
    
  /* Change the opacity when mouse is hovered */
  .btn:hover {
    opacity: 1.0;
    color: rgb(142, 38, 184);
  }
    
  /* Define the slix  der width so that it scales properly */
  .slider_container {
    width: 150%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider_container1{
      max-width: 50%;
  }
    
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
    
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
    
  /* Change the opacity when mouse is hovered */
  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1.0;
  }
    
  .seek_slider {
    width: 60%;
  }
    
  .volume_slider {
    width: 30%;
  }
    

    

    
  /* Change the mouse cursor to a pointer
     when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    cursor: pointer;
  }
 
 